@model AppUser

    <div class="alert alert-secondary" role="alert"><h4>Редактирование пользователя</h4></div>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Edit" asp-controller="Admin" method="post">
    <div class="form-group">
        <label asp-for="Id">Идентификатор пользователя:</label>
        <input asp-for="Id" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="FirstName">Имя:</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MiddleName">Отчество:</label>
        <input asp-for="MiddleName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName">Фамилия:</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="manager">Менеджер</label>
        <select name="manager" asp-items="ViewBag.AllUsers" class="form-control">
            <option selected="selected" disabled="disabled">Выберите менеджера...</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Email">E-mail:</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Пароль:</label>
        <input name="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
    <a asp-action="Index" asp-controller="Admin" class="btn btn-outline-secondary">Отмена</a>
</form>