@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/css/bootstrap.min.css"
          asp-href-exclude="~/lib/bootstrap/css/bootstrap-reboot.min.css" />

    <title>ETestCRM Ошибка</title>
</head>
<body>
    <h2 class="text-danger">Ошибка.</h2>
    <h3 class="text-danger">Произошла ошибка при обработке Вашего запроса.</h3>
</body>
</html>